.wrapper {
    margin: 0 auto;
    width: 375px;
    height: 528px;
    position: relative;
    background: #FFFFFF;
}

.header {
    position: relative;
    width: 100%;
    height: 117px;
    top: 0;
    border-bottom: 1px solid #828282;
}

.clinic-image {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 162px;
    height: 32px;
}

.lab-image {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 83px;
    height: 33px;
}

.info-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #BDBDBD;
}

.block-info-clinic {
    position: absolute;
    bottom: 8px;
    left: 15px;
    width: 160px;
    height: 44px;
    text-align: left;
}

.block-contacts-lab {
    position: absolute;
    bottom: 8px;
    right: 15px;
    width: 126px;
    height: 32px;
    text-align: right;
}

.result-area {
    position: relative;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 345px;
    height: 98px;
    border-radius: 4px;
}

.result-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    width: 100%;
}

.main-info{
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 345px;
    height: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.bold-data-name{
    font-weight: bold;
    margin-top: 8px;
}

